<a href="https://colab.research.google.com/github/briantm1998/DataSciencePortfolio/blob/main/excel_to_xml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from lxml import etree as et

In [3]:
raw_data = pd.read_excel(r'MCIB_LOA V1.xlsx')

In [5]:
print(raw_data)

    RECORD_STATUS     ENTITY_CODE ENTITY_TYPE RESIDENT_FLAG  \
0               A          022089           C             R
1               A       03TH37469           I             N
2               A          055697           C             N
3               A          055697           C             N
4               A          055697           C             N
..            ...             ...         ...           ...
189             A        Z2825846           I             N
190             A        Z2987247           I             N
191             A        Z2987247           I             N
192             N            2398           C             R
193             N  D230592310439F           I             R

                            ENTITY_NAME  ENTITY_OTHER_NAME  DOB  SEX  \
0                  SOCIETE REVE DE GOLF                NaN  NaN  NaN
1    RAFAEL ANGE GEORGES MARIE RICHIERO                NaN  NaN    M
2             VIETNAM TECHNOLOGICAL AND                NaN  NaN  NaN
3             VIETNAM TECHNOLOGICAL AND                NaN  NaN  NaN
4             VIETNAM TECHNOLOGICAL AND                NaN  NaN  NaN
..                                  ...                ...  ...  ...
189               KARUNAGARAN SAMMANDAM                NaN  NaN    M
190                     SANDEEP CHAGGER                NaN  NaN    M
191                     SANDEEP CHAGGER                NaN  NaN    M
192  PANAGORA MARKETING COMPANY LIMITED                NaN  NaN  NaN
193       CHARLES PHILIPPE CLAYTON DAVY                NaN  NaN    M

    COUNTRY_CODE     PASSPORT_NO  ... NO_INST DATE_DEFAULT BAL_DEFAULT  \
0            MUR             NaN  ...     107          NaN         NaN
1             FR       03TH37469  ...      48   31052019.0    17246.85
2             VN             NaN  ...       1          NaN         NaN
3             VN             NaN  ...       1          NaN         NaN
4             VN             NaN  ...       1          NaN         NaN
..           ...             ...  ...     ...          ...         ...
189           IN        Z2825846  ...      84          NaN         NaN
190           IN        Z2987247  ...      72          NaN         NaN
191           IN        Z2987247  ...      60          NaN         NaN
192          MUR             NaN  ...       1          NaN         NaN
193           MU  D230592310439F  ...     351          NaN         NaN

    AMOUNT_ARRS  TYPE_CLASS REMARKS UNIQUE_REF_ID  DATE_REGULARISED  \
0           NaN         NaN     NaN  2.018111e+15               NaN
1     404436.19      1249.0     NaN  2.017030e+15               NaN
2           NaN         NaN     NaN  2.021103e+15               NaN
3           NaN         NaN     NaN  2.021103e+15               NaN
4           NaN         NaN     NaN  2.021111e+15               NaN
..          ...         ...     ...           ...               ...
189         NaN         NaN     NaN  2.021012e+15               NaN
190         NaN         NaN     NaN  2.017082e+15               NaN
191         NaN         NaN     NaN  2.017111e+15               NaN
192         NaN         NaN     NaN           NaN               NaN
193         NaN         NaN     NaN           NaN               NaN

     ACTION_TAKEN  ACTION_DATE
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
..            ...          ...
189           NaN          NaN
190           NaN          NaN
191           NaN          NaN
192           NaN          NaN
193           NaN          NaN

[194 rows x 41 columns]

In [24]:
root = et.Element('MCIB')
tag1 = et.SubElement(root, 'BANK', grp_id="AFBL")

In [27]:
for row in raw_data.iterrows(): 
    root_tags = et.SubElement(tag1, 'CREDIT', record_status="A") #=== > Root name
# These are the tag names for each row (SECTION 1)
    Column_heading_1 = et.SubElement(root_tags, 'ENTITY_CODE')
    Column_heading_2 = et.SubElement(root_tags, 'ENTITY_TYPE')
    Column_heading_3 = et.SubElement(root_tags, 'RESIDENT_FLAG')
    Column_heading_4 = et.SubElement(root_tags, 'ENTITY_NAME')
    Column_heading_5 = et.SubElement(root_tags, 'ENTITY_OTHER_NAME')
    Column_heading_6 = et.SubElement(root_tags, 'DOB')
    Column_heading_7 = et.SubElement(root_tags, 'SEX')
    Column_heading_8 = et.SubElement(root_tags, 'COUNTRY_CODE')
    Column_heading_9 = et.SubElement(root_tags, 'PASSPORT_NO')
    Column_heading_10 = et.SubElement(root_tags, 'ADDRESS_1')
    Column_heading_11 = et.SubElement(root_tags, 'ADDRESS_2')
    Column_heading_12 = et.SubElement(root_tags, 'ADDRESS_3')
    Column_heading_13 = et.SubElement(root_tags, 'ADDRESS_4')
    Column_heading_14 = et.SubElement(root_tags, 'ADDRESS5')
    Column_heading_15 = et.SubElement(root_tags, 'REF_NO')
    Column_heading_16 = et.SubElement(root_tags, 'CREDIT_TYPE')
    Column_heading_17 = et.SubElement(root_tags, 'DATE_APPROVED')
    Column_heading_18 = et.SubElement(root_tags, 'PARENT_CO_NO')
    Column_heading_19 = et.SubElement(root_tags, 'PARENT_CO_NAME')
    Column_heading_20 = et.SubElement(root_tags, 'SECTOR_LOAN_CLASS')
    Column_heading_21 = et.SubElement(root_tags, 'CURR')
    Column_heading_22 = et.SubElement(root_tags, 'AMOUNT_ORG')
    Column_heading_23 = et.SubElement(root_tags, 'AMOUNT_OUT')
    Column_heading_24 = et.SubElement(root_tags, 'AMOUNT_DIS')
    Column_heading_25 = et.SubElement(root_tags, 'DATE_UPDATE')
    Column_heading_26 = et.SubElement(root_tags, 'AMOUNT_INST')
    Column_heading_27 = et.SubElement(root_tags, 'DATE_FIRST_INST')
    Column_heading_28 = et.SubElement(root_tags, 'PERIODICITY')
    Column_heading_29 = et.SubElement(root_tags, 'DATE_LAST_INST')
    Column_heading_30 = et.SubElement(root_tags, 'DATE_EXP')
    Column_heading_31 = et.SubElement(root_tags, 'NO_INST')
    Column_heading_32 = et.SubElement(root_tags, 'DATE_DEFAULT')
    Column_heading_33 = et.SubElement(root_tags, 'BAL_DEFAULT')
    Column_heading_34 = et.SubElement(root_tags, 'AMOUNT_ARRS')
    Column_heading_35 = et.SubElement(root_tags, 'TYPE_CLASS')
    Column_heading_36 = et.SubElement(root_tags, 'REMARKS')
    Column_heading_37 = et.SubElement(root_tags, 'UNIQUE_REF_ID')
    Column_heading_38 = et.SubElement(root_tags, 'DATE_REGULARISED')
    Column_heading_39 = et.SubElement(root_tags, 'ACTION_TAKEN')
    Column_heading_40 = et.SubElement(root_tags, 'ACTION_DATE')

    


###These are the values that will be populated for each row above
# The values inside the [] are the raw file column headings.(SECTION 2)
    if (str == None):
                text()
    
    Column_heading_1.text = str(row[1][ 'ENTITY_CODE'])
    Column_heading_2.text = str(row[1][ 'ENTITY_TYPE'])
    Column_heading_3.text = str(row[1][ 'RESIDENT_FLAG'])
    Column_heading_4.text = str(row[1][ 'ENTITY_NAME'])
    Column_heading_5.text = str(row[1][ 'ENTITY_OTHER_NAME'])
    Column_heading_6.text = str(row[1][ 'DOB'])
    Column_heading_7.text = str(row[1][ 'SEX'])
    Column_heading_8.text = str(row[1]['COUNTRY_CODE'])
    Column_heading_9.text = str(row[1]['PASSPORT_NO'])
    Column_heading_10.text = str(row[1]['ADDRESS_1'])
    Column_heading_11.text = str(row[1]['ADDRESS_2'])
    Column_heading_12.text = str(row[1]['ADDRESS_3'])
    Column_heading_13.text = str(row[1]['ADDRESS_4'])
    Column_heading_14.text = str(row[1]['ADDRESS5'])
    Column_heading_15.text = str(row[1]['REF_NO'])
    Column_heading_16.text = str(row[1]['CREDIT_TYPE'])
    Column_heading_17.text = str(row[1]['DATE_APPROVED'])
    Column_heading_18.text = str(row[1]['PARENT_CO_NO'])
    Column_heading_19.text = str(row[1]['PARENT_CO_NAME'])
    Column_heading_20.text = str(row[1]['SECTOR_LOAN_CLASS'])
    Column_heading_21.text = str(row[1]['CURR'])
    Column_heading_22.text = str(row[1]['AMOUNT_ORG'])
    Column_heading_23.text = str(row[1]['AMOUNT_OUT'])
    Column_heading_24.text = str(row[1]['AMOUNT_DIS'])
    Column_heading_25.text = str(row[1]['DATE_UPDATE'])
    Column_heading_26.text = str(row[1]['AMOUNT_INST'])
    Column_heading_27.text = str(row[1]['DATE_FIRST_INST'])
    Column_heading_28.text = str(row[1]['PERIODICITY'])
    Column_heading_29.text = str(row[1]['DATE_LAST_INST'])
    Column_heading_30.text = str(row[1]['DATE_EXP'])
    Column_heading_31.text = str(row[1]['NO_INST'])
    Column_heading_32.text = str(row[1]['DATE_DEFAULT'])
    Column_heading_33.text = str(row[1]['BAL_DEFAULT'])
    Column_heading_34.text = str(row[1]['AMOUNT_ARRS'])
    Column_heading_35.text = str(row[1]['TYPE_CLASS'])
    Column_heading_36.text = str(row[1]['REMARKS'])
    Column_heading_37.text = str(row[1]['UNIQUE_REF_ID'])
    Column_heading_38.text = str(row[1]['DATE_REGULARISED'])
    Column_heading_39.text = str(row[1]['ACTION_TAKEN'])
    Column_heading_40.text = str(row[1]['ACTION_DATE'])

In [29]:
tree = et.ElementTree(root)
et.indent(tree, space="\t", level=0)
tree.write('mcib_1.xml', encoding="utf-8")